header {
  position: fixed;
  right: 5rem;
  top: 5rem;
  z-index: 3;
  @media (max-width: $breakdown-sm) {
    right: 2rem;
  }
  nav {
    text-align: right;
    ul {
      li {
        a {
          color: $primary-text;
          font-family: "DM Medium";
          font-size: calc(#{$main-size} * 5);
          line-height: calc(#{$main-size} * 6.4);
          @media (max-width: $breakdown-sm) {
            font-size: calc(#{$main-size} * 5 * 0.8);
            line-height: calc(#{$main-size} * 6.4 * 0.8);
          }
          &.--active {
            color: white;
          }
        }
      }
    }
    .separator {
      color: $primary-text;
    }

    // .separator {
    //   font-family: "DM Medium";
    //   font-size: calc(#{$main-size} * 5);
    //   line-height: calc(#{$main-size} * 6.4);
    //   color: $primary-text;
    // }
  }
  &.secondary {
    nav {
      ul {
        li {
          a {
            color: $brand-primary;
            &.--active {
              color: white;
            }
          }
        }
      }
      .separator {
        color: $brand-primary;
      }
    }
  }
  &.tertiary {
    nav {
      ul {
        li {
          a {
            color: $primary-text;
            &.--active {
              color: $brand-primary;
            }
          }
        }
      }
    }
    .separator {
      color: $primary-text;
    }
  }
}
