header {
  position: fixed;
  right: 5rem;
  top: 5rem;
  z-index: 3;
  @media (max-width: $breakdown-sm) {
    right: 2rem;
  }
  .nav-toggler {
    height: 34px;
    width: 40px;
    padding: 10px;
    background-color: $brand-primary;
    margin-left: auto;
    display: none;
    position: relative;
    z-index: 5;
    span {
      position: absolute;
      left: 10px;
      width: 20px;
      height: 2px;
      background-color: white;
      transition: top 0.3s, bottom 0.3s;
      &:first-child {
        top: 10px;
      }
      &:last-child {
        bottom: 10px;
      }
    }
    @media (max-width: $breakdown-md) {
      display: block;
    }
    &.--open {
      span {
        &:first-child {
          top: 15px;
        }
        &:last-child {
          bottom: 15px;
        }
      }
    }
  }
  nav {
    text-align: right;
    ul {
      li {
        a {
          color: $primary-text;
          font-family: "DM Medium";
          font-size: calc(#{$main-size} * 5);
          line-height: calc(#{$main-size} * 6.4);
          @media (max-width: $breakdown-sm) {
            font-size: calc(#{$main-size} * 5 * 0.8);
            line-height: calc(#{$main-size} * 6.4 * 0.8);
          }
          &.--active {
            color: white;
          }
        }
      }
    }
    .separator {
      color: $primary-text;
    }
    @media (max-width: $breakdown-md) {
      position: fixed;
      top: 0rem;
      left: 0rem;
      width: 100%;
      height: 100%;
      background-color: $brand-primary;
      padding: 6rem 5.8rem 0rem 0rem;
      transform: translateX(-100%);
      transition: transform 0.4s ease-in-out, opacity 0s;
      &.--open {
        transform: translateX(0%);
      }
    }
    @media (max-width: $breakdown-sm) {
      padding: 6rem 2.8rem 0rem 0rem;
    }
  }
  &.secondary {
    nav {
      ul {
        li {
          a {
            color: $brand-primary;
            @media (max-width: $breakdown-md) {
              color: $primary-text;
            }
            &.--active {
              color: white;
            }
          }
        }
      }
      .separator {
        color: $brand-primary;
        @media (max-width: $breakdown-md) {
          color: $primary-text;
        }
      }
    }
  }
  &.tertiary {
    nav {
      ul {
        li {
          a {
            color: $primary-text;
            &.--active {
              color: $brand-primary;
              @media (max-width: $breakdown-md) {
                color: white;
              }
            }
          }
        }
      }
    }
    .separator {
      color: $primary-text;
    }
  }
}
