a,
span,
div,
h3,
h4,
h5,
h6,
li,
button {
}

p {
  font-family: "Minion Medium";
  font-size: calc(#{$main-size} * 2.1);
  line-height: calc(#{$main-size} * 2.4);
  @media (max-width: $breakdown-sm) {
    font-size: calc(#{$main-size} * 2.1 * 0.8);
    line-height: calc(#{$main-size} * 2.4 * 0.8);
  }
}

h1,
h2 {
  font-family: "DM Medium";
  font-size: calc(#{$main-size} * 3);
  color: $primary-text;
  @media (max-width: $breakdown-sm) {
    font-size: calc(#{$main-size} * 3 * 0.8);
  }
}
