// :root {
//   --main-text-color: #000000;
//   --second-text-color: #d0d0d0;
//   --spacing: 1.9rem;
// }

$breakdown-sm: 767.98px;
$breakdown-md: 991.98px;
$breakdown-lg: 1199.98px;

$expand-navbar: $breakdown-md;

$bg: #000000;

$primary-text: #083a4b;
$secondary-text: #555555;
$tertiary-text: #aaaaaa;
$brand-primary: #e9496f;
$brand-secondary: #fed169;
$main-size: 1rem;
$main-padding: 2rem;
